# Entornos virtuales
venv/
env/
.venv/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Archivos de entorno
.env

# Editores / IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
